%p
  Did you know that many major brand cereals have a
  %br
  healthier alternative? Did you also know that they taste just
  %br
  as good, if not better? Type in your favorite cereal below and
  %br
  then hit "Swap It" to see the healthier alternative!

=simple_form_for @healthy_swap_query do |f|
  .form-inputs
    = f.input :favorite_cereal
  .form-actions
    = f.button :submit

- if @product_swap
  #product1.product
    = @product_swap.unhealthy_product.name
    = @product_swap.unhealthy_product.calories
    = @product_swap.unhealthy_product.saturated_fat
    = @product_swap.unhealthy_product.sugar_type

  #product2.product
    = @product_swap.healthy_product.name
    = @product_swap.healthy_product.calories
    = @product_swap.healthy_product.saturated_fat
    = @product_swap.healthy_product.sugar_type

  #reason
    %span Reason:
    %span
      = @product_swap.reason
